html {
  box-sizing: border-box;
  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #d05c2e;
  padding-top: .5em;
  padding-bottom: .5em;
  margin: 0;
  font-family: Merriweather, serif;
  flex-wrap: wrap;
}

a {
  text-decoration: none;
  color: #fff;
}

.nav:hover {
  background-color: #a63f38;
}

h1 {
  font-size: 2rem;
  text-align: center;
  margin: .3em;
  color: #fff;
}

.left {
  float: left;
  max-width: 40px;
}

.right {
  float: right;
  max-width: 40px;
}

ul {
  background-color: #d05c2e;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0;
}

li {
  color: #fff;
  text-align: center;
  text-decoration: none;
  list-style-type: none;
  border: 1px solid #a63f38;
  width: 33.3333%;
  margin: 0;
  flex-wrap: wrap;
  background-color: #d05c2e;
}
